body {
  font-weight: 400;
  font-family: $first-font, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #27262B;
}

img {
  width: 100%;
  display: block;
}

picture {
  display: block;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}
