// Шрифты
$first-font: "Gilroy";
$second-font: "Circe";

// Цвета

// Градиенты
$g-main: linear-gradient(89.23deg, #FCAF45 0.66%, #F77737 20.96%, #FD1D1D 41.27%, #C13584 61.57%, #833AB4 82.41%, #405DE6 103.25%);

// Размеры

