.portfolio {
  padding: 40px 20px 45px 20px;
}

.portfolio__list {
  @include list-reset;
  counter-reset: item;
}

.portfolio__slider {
  @include list-reset;
  margin-bottom: 61px;
}

.portfolio__title {
  margin-bottom: 30px;
}

.portfolio__extratitle {
  margin-bottom: 38px;
}

.portfolio__description {
  max-width: 415px;
  margin-bottom: 103px;
}

.portfolio__item {
  &::before {
    content: "0" counter(item);
    display: block;
    font-weight: 900;
    font-size: 144px;
    line-height: 180px;
    text-align: center;
    color: #f5f2ff;
    counter-increment: item;
  }
  position: relative;

  &:hover {
    .portfolio__controls {
      opacity: 1;
    }
  }

  .swiper-container {
    margin-top: -105px;
  }
}

.portfolio__controls {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s;
}

.portfolio__category {
  position: absolute;
  bottom: 45px;
  left: 50%;
  z-index: 30;
  display: block;
  white-space: nowrap;
  transform: translateX(-50%);

  span {
    display: block;
  }

  &::before {
    @include pseudo;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 37px;
    background: linear-gradient(89.23deg, #fcaf45 0.66%, #f77737 20.96%, #fd1d1d 41.27%, #c13584 61.57%, #833ab4 82.41%, #405de6 103.25%);
    filter: blur(52px);
  }
}

.portfolio__inner {
  position: relative;
  padding: 12px 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  font-family: $second-font;
  background-color: #ffffff;
}

.portfolio__img {
  display: block;
  height: 430px;
  object-fit: cover;
}

.portfolio__slide {
  position: relative;
}

.portfolio__time {
  position: absolute;
  top: 10px;
  left: 50%;
  padding: 14px 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  background: #ffffff;
  border-radius: 24px;
  transform: translateX(-50%);
}

.portfolio__info {
  font-weight: 500;
  font-size: 18px;
  line-height: 148%;
  text-align: center;

  a {
    font-weight: 700;
    text-decoration: underline;
  }
}

.portfolio__social {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 20px;

  .social__item {
    width: 62px;
    height: 62px;

    a {
      width: 62px;
      height: 62px;
    }

    svg {
      width: 33px;
      height: 33px;
    }

    &--instagram {
      &::after {
        background-size: 33px;
      }
    }
  }
}

@media (min-width: 768px) {
  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 15px));
    gap: 30px;
    width: 100%;
    max-width: 100%;
  }

  .portfolio__item {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .portfolio {
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .portfolio__info {
    position: absolute;
    bottom: 133px;
    left: calc(50% - 500px);
    display: flex;
    align-items: center;
    max-width: 434px;
    text-align: left;

    .portfolio__social {
      margin-top: 0;
      margin-right: 36px;
      margin-bottom: 0;
    }
  }

  .portfolio__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .portfolio__description {
    align-items: center;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
  }

  .portfolio__title {
    margin-bottom: 2px;
  }

  .portfolio__extratitle {
    max-width: 373px;
  }

  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
  }

  .portfolio__time {
    left: 10px;
    transform: unset;
  }

  .portfolio__slider {
    margin-bottom: 10px;
  }

  .portfolio__item {
    &:first-child {
      width: 448px;

      .portfolio__category {
        right: -20px;
        bottom: 57px;
        left: unset;
        transform: unset;
      }

      &::before {
        text-align: right;
      }

      .portfolio__img {
        width: 448px;
        height: 483px;
      }
    }

    &:nth-child(2) {
      position: relative;
      align-self: flex-start;
      width: 389px;
      margin-top: 60px;

      &::before {
        position: absolute;
        bottom: -100px;
        left: 34px;
      }

      .portfolio__category {
        right: 27px;
        bottom: 0;
        left: unset;
        transform: unset;
      }

      .portfolio__img {
        width: 389px;
        height: 510px;
      }
    }

    &:nth-child(3) {
      width: 292px;
      margin-top: -33px;

      &::before {
        text-align: right;
      }

      .portfolio__category {
        top: 45px;
        bottom: unset;
        left: 29px;
        transform: unset;
      }

      .portfolio__time {
        top: unset;
        bottom: 10px;
      }

      .portfolio__img {
        width: 292px;
        height: 593px;
      }
    }

    &:nth-child(4) {
      width: 486px;
      margin-top: 20px;
      margin-left: -40px;

      &::before {
        position: absolute;
        right: -44px;
        bottom: -90px;
      }

      .portfolio__category {
        bottom: 50px;
        left: -39px;
        transform: unset;
      }

      .portfolio__img {
        width: 486px;
        height: 360px;
      }
    }

    &:nth-child(5) {
      width: 407px;
      margin-top: -97px;
      margin-left: 20px;

      .swiper-container {
        margin-top: -80px;
      }

      .portfolio__time {
        top: unset;
        bottom: 10px;
      }

      &::before {
        margin-left: 57px;
        text-align: left;
      }

      .portfolio__category {
        top: 130px;
        right: -40px;
        bottom: unset;
        left: unset;
        transform: unset;
      }

      .portfolio__img {
        width: 407px;
        height: 517px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .portfolio {
    @include page-wrapper;
  }

  .portfolio__list {
    gap: 70px;
  }
}
