.order {
  padding: 47px 20px 94px 20px;
}

.order__title {
  max-width: 280px;
  margin-bottom: 47px;
}

.order__description {
  margin-bottom: 47px;
}

.order__media {
  position: relative;
}

.order__sale {
  position: absolute;
  bottom: -57px;
  left: 50%;
  transform: translateX(-50%);
}

.order__img {
  mask-image: url("../../img/promo-mask@mobile.svg");
  mask-position: bottom;
  mask-size: cover;
  min-height: 350px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .order {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    max-width: 1087px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 115px;
  }

  .order__title {
    max-width: 443px;
    margin-bottom: 43px;
  }

  .order__description {
    margin-bottom: 51px;
  }

  .order__form {
    max-width: 443px;
  }

  .order__img {
    mask-image: url("../../img/order-mask@desktop.svg");
    mask-position: left;
  }
}

@media (min-width: 1130px) {
  .order {
    display: flex;
    justify-content: space-between;
  }

  .order__title {
    width: 443px;
    max-width: 443px;
  }

  .order__media {
    picture {
      display: block;
      height: 100%;
    }
  }

  .order__img {
    display: flex;
    height: 100%;
  }

  .order__sale {
    top: -13px;
    right: 120px;
    bottom: unset;
    left: unset;
    transform: unset;
  }
}
